.updates-main-container{
    background-image: url('../../assets/bkg_img.png');
  background-repeat: repeat-y; /* Repeat along the Y-axis */
  background-size: 100% auto; /* Fit the width, and height adjusts proportionally */
  background-position: center; /* Center the image horizontally */
  margin: 0; /* Remove default body margin */
}

.updates-page-top{
    background-image: url('../../assets/updates_page_bkg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    position: relative;
}

.updates-page-top h1{
    position: absolute;
    margin-left: 10%;
    padding-top: 3%;
    font-size: 300%;
    background: linear-gradient(64deg, #FDD81F 1%, #F03027 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}



/* .our-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 5% 10%;
    height: 100%;
} */

/* .recent-highlights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 5% 10%;
    height: 50%;
} */

.upcoming-events-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin: 5% 10%;
    height: 100%;
}

.updates-page .our-history h1, .updates-page .recent-highlights h1 , .updates-page .upcoming-events h1{
    margin: 3% 10%;
    margin-right: 0%;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .updates-main-container{
        background-image:none;
    }
    .updates-page-top{
        height: 18vh;
        position: relative;
    }
    .updates-page-top h1{
        margin-left: 10%;
        padding-top: 10%;
        font-size: 300%;
    }
    .upcoming-events-container{
        flex-direction: column;
    }

    .updates-page .our-history h1, .updates-page .recent-highlights h1 , .updates-page .upcoming-events h1{
        margin: 3% 5%;
    }
}