/* Main container */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    background-color: #020911;
    position: relative;
    perspective: 1200px; /* Enables the 3D effect */
    overflow: hidden;
  }
  
  /* Carousel container */
  .hero-carousel {
    position: relative;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    transform-style: preserve-3d; /* Preserve 3D space for child elements */
    transition: transform 1s ease-in-out; /* Smooth rotation effect */
  }
  
  /* Individual carousel item */
  .hero-carousel .carousel-item {
    position: absolute;
    width: 100%; /* Images take up 80% of the container width */
    height: 100%; /* Images take up 80% of the container height */
    transform-origin: center;
    backface-visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.7s ease;
  }
  
  .hero-carousel .carousel-item img {
    /* margin-top: vh; */
    width: 50%; /* Make the image fill the item */
    height: 50%; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image fits without distortion */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  
  /* Controls */
  .hero-carousel-controls {
    position: absolute;
    bottom: 6%;
    display: flex;
    gap: 20px;
  }
  
  .hero-carousel-controls button {
    background-color: #f0312731;
    color: rgba(255, 255, 255, 0.555);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .hero-carousel-controls button:focus {
    outline: none;
  }

  
  .hero-carousel-controls button:hover {
    background-color: #fdd81f4b;
  }
  

  @media (max-width: 768px) {
    .hero-section {
      height: 90vh;
    }
    .hero-carousel-controls {
      display: none;
    }
  }