@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

.react-calendar {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0);
  border: none;
  font-family: 'MuseoModerno';
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 100%;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  flex-direction: column; /* Stack views vertically for smaller screens */
  margin: 0;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 100%;
  margin: 0;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
  background-color: #ffffff22;
}

.react-calendar__navigation {
  background-color: #000000;
  display: flex;
  flex-wrap: wrap; 
  height: auto;
  padding: 5px;
}

.react-calendar__navigation button {
  color: white;
  min-width: 44px;
  background: none;
  text-align: center;
}

.react-calendar__navigation button:disabled {
  background-color: #000000;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #ffffff0b;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
  color: white;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
  color: white;
}

/* Default current month styles */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #616161;
}

.react-calendar__month-view__days__day:not(.react-calendar__month-view__days__day--neighboringMonth) {
  color: white;
}

.react-calendar__month-view__days__day--weekend:not(.react-calendar__month-view__days__day--neighboringMonth) {
  color: #F8B61F;
}

.react-calendar__month-view__days__day--weekend {
  color: #805E12;
}


.react-calendar__tile--now {
  background: #ea5a26;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ea5a26de;
}

.react-calendar__tile--hasActive {
  background: #F8B61F;
  color: white;
}

.react-calendar__tile--active {
  background: none;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #F8B61F;
  border: none;
  outline: none;
  color: white;
}

.hover-event-popup h4 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.hover-event-popup .event-item {
  margin: 8px 0;
}

.hover-event-popup .event-item h5 {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.hover-event-popup .event-item p {
  margin: 4px 0 0;
  font-size: 12px;
  color: #777;
}


.react-calendar-with-events {
  position: relative;
}


.tile-container {
  width: 100%;
  height: 100%;
  position: relative; 
}

.hover-tile {
  position: absolute; 
  bottom: 9px; 
  background-color: #00bfff00;
  width: 100%;
  height: 200%;
  border-radius: 5px;
  margin: 0 auto;
}

.event-indicator {
  position: absolute; 
  background-color: #00bfff;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin-left: 47%;
}



.tooltip h4 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.tooltip .event-item h5 {
  margin: 4px 0 0;
  font-size: 12px;
  color: #FFD700;
}

.tooltip .event-item p {
  margin: 0;
  font-size: 10px;
  color: #ccc;
}

.react-calendar-with-events {
  position: relative;
}

.hover-event-popup {
  background-color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 120px;
  overflow-y: scroll;
}

.hover-event-popup::-webkit-scrollbar{
  width: 1px;
}

.event-modal {
  position: absolute;
  margin-top: 10px;
  opacity: 1;
  left: 5%;
  backdrop-filter: blur(5px);
  border: 1px solid #ff0101;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 300px;
  max-height: 150px;
  overflow-y: scroll;
}


.event-modal .event-item p{
  font-size: 12px;
}
.event-modal::-webkit-scrollbar{
  width: 1px;
}

.event-modal-content {
  position: relative;
    color: #000;
}


/* Mobile Styles */
@media (max-width: 768px) {
  .react-calendar {
    width: 100%;
    margin: 0 auto;
  }

  .react-calendar__navigation {
    /* flex-direction: column;  */
    gap: 0px;
  }

  .react-calendar__navigation button {
    flex: none; 
    /* width: 100%; */
    font-size: 10px;
    padding: 0px;
  }

  .react-calendar--doubleView .react-calendar__viewContainer {
    flex-direction: column; /* Stack views vertically */
  }

  .react-calendar__month-view__weekdays {
    font-size: 0.6em;
  }

  .react-calendar__tile {
    font-size: 0.7em;
    padding: 7px;
  }

  .hover-event-popup {
    display: none;
  }

  
.event-modal {
  left: 0%;
  backdrop-filter: blur(10px); 
  margin-top: 5%;
  width: 95%;
  max-height: 120px;
  overflow-y: scroll;
}

.event-indicator{
  margin-left: 40%;
  bottom: 15px;
}

}
