@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

.react-calendar {
    width: 700px;
    height: 320px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    font-family: 'MuseoModerno';
    line-height: 1.125em;
  }
  
  .react-calendar--doubleView {
    width: 700px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }

  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    background-color: #000000;
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    color: white;
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #ffffff0b;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  /* Do not change the color for neighboring month values */
  .react-calendar__month-view__days__day--neighboringMonth,
  .react-calendar__decade-view__years__year--neighboringDecade,
  .react-calendar__century-view__decades__decade--neighboringCentury {
    color: #616161; /* Keep the default or inherited color */
  }
  
  /* Apply green color to the current month's days */
  .react-calendar__month-view__days__day:not(.react-calendar__month-view__days__day--neighboringMonth) {
    color: white; /* Sets the color to green for current month days */
  }
  
  .react-calendar__month-view__days__day--weekend:not(.react-calendar__month-view__days__day--neighboringMonth) {
    color: #F8B61F; /* Override green for weekends in the current month */
  }

  .react-calendar__month-view__days__day--weekend {
    color: #805E12;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    font: inherit;
    font-size: 0.833em;
  }
  
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
    color: #ababab;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth:disabled,
  .react-calendar__decade-view__years__year--neighboringDecade:disabled,
  .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #ffffff1e;
  }
  
  .react-calendar__tile--now {
    background: #F03027;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: none;
  }
  
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
    background: none;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #F8B61F;
    border: none;
    outline: none;
    color: white;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  
.react-calendar {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* .react-calendar-with-events {
  position: relative;
} */

.event-indicator {
  /* position: absolute; */
  background-color: rgba(255, 255, 255, 0.607);
  width: 100%;
  height: 2px;
  padding: 3px;
  border-radius: 50px;
  cursor: pointer;
}

.hover-event-popup {
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  max-width: 250px;
  overflow: hidden;
}

.hover-event-popup h4 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.hover-event-popup .event-item {
  margin: 8px 0;
}

.hover-event-popup .event-item h5 {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.hover-event-popup .event-item p {
  margin: 4px 0 0;
  font-size: 12px;
  color: #777;
}
