.about-main-container{
    background-image: url('../../assets/bkg_img.png');
  background-repeat: repeat-y; /* Repeat along the Y-axis */
  background-size: 100% auto; /* Fit the width, and height adjusts proportionally */
  background-position: center; /* Center the image horizontally */
  margin: 0; /* Remove default body margin */
}
.about{
    background-image: url('../../assets/about_page_bkg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    position: relative;
}
.about h1{
    position: absolute;
    margin-left: 10%;
    padding-top: 3%;
    font-size: 300%;
    background: linear-gradient(64deg, #FDD81F 1%, #F03027 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}

.about-page-content{
    margin: 2% 10%;
    margin-right: 35%;
}

.our-team{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
}

.our-team .team-members{
    gap: 5%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    margin: auto 15%;
}



@media screen and (max-width: 768px) {
    .about-main-container{
        background-image:none;
    }
    .about{
        height: 18vh;
        position: relative;
    }
    .about h1{
        margin-left: 10%;
        padding-top: 10%;
        font-size: 300%;
    }
    
    .about-page-content{
        margin: 2% 10%;
        margin-right: 10%;
    }
    .our-team{
        display: flex;
        text-align: center;
        flex-direction: column;
        height: 100%;
    }
    
    .our-team .team-members{
        gap: 5%;
        display: flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        margin-top: 20px;
        margin: auto 5%;
    }
}
