.experiences-element{
    position: relative;
    background-image: url('../../assets/experiences_bkg_img.svg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.experiences-element .experiences-element-first-container{
    width: 100%;
    display: grid;
    height: 95vh;
    grid-template-rows: 2fr 6fr 2fr;
    padding: 5% 8%;
}


.experiences-element .experiences-element-first-container h1{
    font-size: 300%;
    background: linear-gradient(64deg, #DDDDD9, #deded900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}

.experiences-element .experiences-element-first-container >a{
    display: flex;
    align-items: center;
    font-size: 150%;
    background: linear-gradient(64deg, #DDDDD9, #deded900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}

.experiences-element .experiences-element-second-container {
    height: 100%;
}

.experiences-element .experiences-element-second-container img{
    bottom: 1;
    position: absolute;
    right: 9.5%;
    width: 23.5%;
    z-index: 2;

}

#experiences-element-rantangle{
    position: absolute;
    right: 8%;
    width: 25%;
    height: 100%;
    z-index: 1;
}

.experiences-element-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.horizontal-scroll img{
    width: 35px;
    height: 35px;
    background-color: white;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.horizontal-scroll img:hover{
    background-color: #ffb81e;
    scale: (1.1);
}


.experiences-element .experiences-element-first-container .all-experiences-box{
    max-width: 800px;
    height: fit-content;
    display: flex;
    gap: 20px;
    overflow-x:scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    margin-top: 20px;
}


/* Mobile styles */
@media (max-width: 768px) {
    .experiences-element {
        background-image: url('../../assets/experiences_mbl_bkg.svg');
        display: flex;
        /* grid-template-columns: 0.1fr 0.9fr; */
        overflow: hidden;
        position: relative;
    }

    .experiences-element .experiences-element-first-container{
        position: absolute;
        left: 5%;
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 5vh;
        align-items: flex-start;
        z-index: 5;
        gap: 5%;
    }

    .experiences-element .experiences-element-first-container p{
        font-size: 12px;
    }

    .experiences-element .experiences-element-first-container h1 {
        font-size: 200%;
        text-align: center;
        margin-bottom: 10%;

    }

    .experiences-element .experiences-element-first-container > a {
        font-size: 120%;
        justify-content: center;
        position: absolute;
        bottom: 10%;

    }

    .experiences-element .experiences-element-second-container img {
        bottom: 30%;
        right: -15%;
        width: 55%;
        margin: 0 auto;
        display: block;
    }

    #experiences-element-rantangle {
        bottom: 0;
        top: 0;
        top: auto;
        right: -50%;
        width: 75%;
        height: auto;
    }

    
    .horizontal-scroll img{
        width: 25px;
        height: 25px;
        padding: 3px;
        margin: 0 2px;
        border-radius: 5px;
    }

        
    .experiences-element .experiences-element-first-container .all-experiences-box{
        max-width: 220px;
        height: 280px;
        font-size: 12px;
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
}
