.experiences-element{
    position: relative;
    padding-top: 100px;
    background-image: url('../../assets/experiences_bkg_img.svg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.experiences-element .experiences-element-first-container{
    width: 100%;
    display: grid;
    height: 95vh;
    grid-template-rows: 2fr 6fr 2fr;
    padding: 5% 8%;
}


.experiences-element .experiences-element-first-container h1{
    font-size: 300%;
    background: linear-gradient(64deg, #DDDDD9, #deded900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}

.experiences-element .experiences-element-first-container >a{
    display: flex;
    align-items: center;
    font-size: 150%;
    background: linear-gradient(64deg, #DDDDD9, #deded900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}

.experiences-element .experiences-element-second-container {
    height: 100%;
}

.experiences-element .experiences-element-second-container img{
    bottom: 0;
    position: absolute;
    right: 8%;
    width: 26%;
    z-index: 2;

}

#experiences-element-rantangle{
    position: absolute;
    right: 8%;
    width: 25%;
    height: 100%;
    z-index: 1;
}

.experiences-element-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.horizontal-scroll img{
    width: 35px;
    height: 35px;
    background-color: white;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.horizontal-scroll img:hover{
    background-color: #ffb81e;
    scale: (1.1);
}


.experiences-element .experiences-element-first-container .all-experiences-box{
    max-width: 800px;
    height: fit-content;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-top: 20px;
}