.updates-element{
    position: relative;
    background-image: url('../../assets/updates_bkg_img.svg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.updates-element .updates-element-first-container{
    display: grid;
    height: 95vh;
    grid-template-rows: 2fr 6fr 2fr;
    padding: 5% 9%;
}


.updates-element .updates-element-first-container h1{
    font-size: 300%;
    background: linear-gradient(64deg, #FDD81F 1%, #F03027 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}

.updates-element .updates-element-first-container >a{
    display: flex;
    align-items: center;
    font-size: 150%;
    background: linear-gradient(64deg, #FDD81F 1%, #F03027 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}

.updates-element .updates-element-first-container ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}

.updates-element .updates-element-first-container ul li img{
    margin: 10px;
    width: 60px;
}
.updates-element .updates-element-second-container {
    height: 100%;
}

.updates-element .updates-element-second-container img{
    bottom: 1;
    position: absolute;
    right: 9%;
    width: 19.5%;
    z-index: 2;
}

#updates-element-rantangle{
    position: absolute;
    right: 8%;
    width: 25%;
    height: 100%;
    z-index: 1;
}


/* Mobile styles */
@media (max-width: 768px) {
    .updates-element {
        background-image: url('../../assets/updates_mbl_bkg.svg');
        grid-template-columns: 0.75fr 0.25fr;
        overflow: hidden;
    }

    .updates-element .updates-element-first-container{
        display: flex;
        flex-direction: column;
        padding: 0%;
        padding-top: 5vh;
        align-items: flex-start;
        padding-left: 5%;

    }

    .updates-element .updates-element-first-container p{
        font-size: 12px;
    }

    .updates-element .updates-element-first-container h1 {
        font-size: 200%;
        text-align: center;
    }

    .updates-element .updates-element-first-container > a {
        font-size: 120%;
        justify-content: center;
        position: absolute;
        bottom: 10%;
    }

    .updates-element .updates-element-second-container img {
        bottom: 20%;
        right: -28%;
        width: 55%;
        margin: 0 auto;
        display: block;
    }

    #updates-element-rantangle {
        bottom: 0;
        top: auto;
        right: -50%;
        width: 75%;
        height: auto;
    }
}
