.sports-element{
    position: relative;
    background-image: url('../../assets/sports_bkg_img.svg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 0.55fr 0.45fr;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.sports-element .sports-element-first-container{
    display: grid;
    height: 95vh;
    grid-template-rows: 2fr 6fr 2fr;
    padding: 5% 10%;
}



.sports-element .sports-element-first-container h1{
    font-size: 300%;
    background: linear-gradient(64deg, #DDDDD9, #deded900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}

.sports-element .sports-element-first-container >a{
    display: flex;
    align-items: center;
    font-size: 150%;
    background: linear-gradient(64deg, #DDDDD9, #deded900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}

.sports-element .sports-element-first-container ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}



.sports-element .sports-element-first-container ul li img{
    margin-right: 40px;
    margin-left: 0%;
    width: 85px;
}
.sports-element .sports-element-second-container {
    height: 100%;
}

.sports-element .sports-element-second-container img{
    bottom: 2;
    position: absolute;
    right: 6%;
    width: 23%;
    z-index: 2;
}

#sports-element-rantangle{
    position: absolute;
    right: 8%;
    width: 25%;
    height: 100%;
    z-index: 1;
}

/* Mobile styles */
@media (max-width: 768px) {
    .sports-element {
        background-image: url('../../assets/sports_mbl_bkg.svg');
        grid-template-columns: 0.75fr 0.25fr;
        overflow: hidden;
        padding-top: 5vh;
    }

    .sports-element .sports-element-first-container{
        display: flex;
        flex-direction: column;
        padding: 0 5%
    }

    .sports-element .sports-element-first-container p{
        font-size: 12px;
    }

    .sports-element .sports-element-first-container h1 {
        font-size: 150%;
        text-align: center;
    }

    .sports-element .sports-element-first-container ul li img{
        margin: 5% ;
        margin-right: 20px;
        margin-left: 0%;
        width: 55px;
    }

    .sports-element .sports-element-first-container > a {
        font-size: 80%;
        justify-content: center;
    }

    .sports-element .sports-element-second-container img {
        bottom: 20%;
        right: -15%;
        width: 60%;
        margin: 0 auto;
        display: block;
    }

    #sports-element-rantangle {
        bottom: 0;
        top: auto;
        right: -30%;
        width: 57%;
        height: auto;
    }
}
