  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
  
  .connect-container {
    font-family: "Josefin Sans", serif;
    max-width: 100%;
    background-image: url('../../assets/footer_connect_bkg.svg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-right-radius: 350px;
    padding: 6% 10%;
    padding-left: 12%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    font-size: 1rem;
  }
  
  /* Left Section: Heading */
  .connect-heading {
    flex: 1;
    text-align: left;
  }
  
  .connect-heading h1 {
    font-size: 5rem;
    margin-bottom: 18px;
    font-weight: 400;
    color: white;
  }
  
 
  .connect-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 35px; 
  }
  
  .connect-details div {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .connect-details img {
    width: 30px;
    height: 30px;
  }
  
  .connect-details a {
    font-size: 1.1rem;
    color: white;
    margin: 0;
    transition: color 0.3s ease;
  }

  .location{
    font-size: 1.1rem;
    color: white;
    margin: 0;
    transition: color 0.3s ease;
  }
  .location:hover{
    cursor: pointer;
    color: #FDD81F;

  }

  .connect-details a:hover {
    color: #FDD81F;
  }
  
  /* Map section */
  .map {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .map .cross{
    position: absolute;
    top: 0;
    right: 1%;
    margin: 10px;
    cursor: pointer;
    z-index: 1000;
    color: white;
    background-color: #ea5a26;
    padding: 10px;
    font-weight: 800;
    border-radius: 20px;

  }
  
  iframe {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .connect-container {
      flex-direction: column;
      text-align: center;
      border-bottom-right-radius: 0px;
    }

    .connect-heading h1 {
      font-size: 3.5rem;
      margin-bottom: 18px;
      font-weight: 400;
      color: white;
    }

    .map .cross{
      right: 0;
    }
  
    .connect-heading {
      margin-bottom: 20px;
    }
  
    .connect-details {
      align-items: center;
    }
  
    iframe {
      width: 100%;
      height: 300px;
    }
  }
  
