.experiences-main-container{
    background-image: url('../../assets/bkg_img.png');
  background-repeat: repeat-y; /* Repeat along the Y-axis */
  background-size: 100% auto; /* Fit the width, and height adjusts proportionally */
  background-position: center; /* Center the image horizontally */
  margin: 0; /* Remove default body margin */
}
.experiences_page_top{
    background-image: url('../../assets/experiences_page_bkg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    position: relative;
}

.experiences_page_top h1{
    position: absolute;
    margin-left: 10%;
    padding-top: 3%;
    font-size: 300%;
    background: linear-gradient(64deg, #DDDDD9, #deded931);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}

.experiences_page_content h1{
    margin: 2% 10%;
}

.experiences_page_content #exp_tag_line{
    justify-self:flex-start;
    margin: 2% 10%;
}

.experiences_page_reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin: 5%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .experiences-main-container{
        background-image:none;
    }
    .experiences_page_top{
        height: 18vh;
        position: relative;
    }
    .experiences_page_top h1{
        margin-left: 5%;
        padding-top: 10%;
        font-size: 300%;
    }

    .experiences_page_content #exp_tag_line{
        justify-self: center;
        margin: 2% 5%;
    }

    .experiences_page_content h1{
        margin: 5%;
    }

    .experiences_page_reviews{
        gap: 20px;
        margin-top: 20px;
        margin: 5%;
    }
    
}