.sports-all h1, .our-history h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin: 2% 0;
}

.sports-all >div{
    display: flex;
    margin: 0 15%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sports-all >div a{
    text-decoration: none;
    color: white;
    margin: 2.5% 3%;
}