.about-element{
    background-image: url('../../assets/about_bkg_img.svg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: relative;
}

.about-element .about-element-first-container{
    display: grid;
    height: 95vh;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 7% 14%;
}



.about-element .about-element-first-container h1{
    font-size: 300%;
    background: linear-gradient(64deg, #FDD81F 1%, #F03027 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}


.about-element .about-element-first-container >a{
    display: flex;
    align-items: center;
    font-size: 150%;
    background: linear-gradient(64deg, #FDD81F 1%, #F03027 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}


.about-element .about-element-second-container {
    height: 100%;
}

.about-element .about-element-second-container img{
    position: absolute;
    right: 11%;
    width: 24.5%;
    z-index: 2;
}

#about-element-rantangle{
    position: absolute;
    top: 0%;
    right: 8%;
    width: 25%;
    height: 100%;
    z-index: 1;
}

