.member {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  width: 20%;
}

.member-img-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 50%;
  background-image: url(../../assets/user-frame.svg);
  background-position: center;
  background-size: cover;
  contain: content;
  display: flex;
  justify-items: center;
}

.member-img-container .image {
  width: auto;
  height: 100%;
  padding: 10px 30px;
  padding-bottom: 0;
  margin: auto;
  overflow: hidden;
}

.member-details {
  position: relative;
  margin-top: 5px;
  text-align: center;
  width: 90%;
}

.member-details h2 {
  font-size: 16px;
  color: white;
  white-space: wrap;
}

.member-details p {
  font-size: 14px;
  color: rgb(206, 206, 206);
}

.member-details p:nth-child(3) {
  color: #17A1FA; 
  font-weight: bold;
}

@media (max-width : 850px){
  .member {
    width: 35%;
  }
}

@media only screen and (max-width: 480px) {

  .member {
    width: 40%; 
  }

  .member-img {
    width: 150px; 
    height: 150px; 
  }

  
.member-img-container {
  width: 150px;
  height: 150px;
  margin-top: 10px;
}

.member-img-container .image {
  padding: 10px 20px;
  padding-bottom: 0;
}

  .member-details h2 {
    font-size: 16px;
    margin-bottom: 3px;
    text-wrap: wrap; 
  }

  .member-details p {
    font-size: 12px; 
    margin: 3px 0; 
  }

  .member-details p:nth-child(3) {
    font-size: 12px; 
  }
}
