.member {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  width: 20%;
}

.member-img {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.member-img .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: transform 0.6s ease;  */
  z-index: 0;
}

/* .member-img .frame:hover {
  transform: rotate(-180deg);
} */

.member-img .image-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-img .image {
  /* position: absolute; */
  padding: auto;
  width: auto;
  height: 100%;
  /* object-fit: cover; */
  /* border-radius: 50%; */
  border-bottom-right-radius: 45%;
  border-bottom-left-radius: 45%;
  z-index: 1;
}

.member-details {
  position: relative;
  margin-top: 5px;
  text-align: center;
  width: 90%;
}

.member-details h2 {
  font-size: 18px;
  color: white;
  white-space: nowrap;
}

.member-details p {
  font-size: 14px;
  color: rgb(206, 206, 206);
}

.member-details p:nth-child(3) {
  color: #17A1FA; 
  font-weight: bold;
}

@media (max-width : 850px){
  .member {
    width: 35%;
  }
}

@media only screen and (max-width: 480px) {

  .member {
    width: 40%; 
  }

  .member-img {
    width: 150px; 
    height: 150px; 
  }

/*   
.member-img .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  object-fit: cover;
  rotate: -180deg;
  z-index: 1;
}


  .member-img .image {
    width: 92%; 
    height: 95%; 
    left: 5%; 
    bottom: 5%; 
  } */

  .member-details h2 {
    font-size: 16px;
    margin-bottom: 3px; 
  }

  .member-details p {
    font-size: 12px; 
    margin: 3px 0; 
  }

  .member-details p:nth-child(3) {
    font-size: 12px; 
  }
}
