.experience-box {
    background-color: white;
    color: black;
    padding: 30px 50px;
    border-radius: 10px;
    min-width: 480px;
    width: 488px;
    z-index:3;

}

.experience-box .user-details{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.experience-box .user-info{
    flex-direction: column;
    gap: 1rem;
    /* margin-bottom: 1rem; */
}

.experience-box .user-info .user-name{
    font-size: 1.2rem;
    font-weight: normal;
}
.experience-box .user-info .user-title{
    font-size: 0.95rem;
    font-weight: lighter;
}

.experience-box .rating{
    margin: 1rem 0;
}

.experience-box-social{
    display: flex;
    gap: 1rem;
}

.experience-box-social img{
    width: 52px;
    height: 52px;
    border: 1px solid #EBE7E0;
    padding: 15px;
    border-radius: 8px;
}

.experience-box-social img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    scale: 1.1;
    transition: 250ms;
}

.experience-box .description{
    height: 169px;
    overflow-y: scroll;
    font-weight: lighter;
}

.experience-box .description::-webkit-scrollbar{
    width: 1px;
}


.experience-box .description::-webkit-scrollbar-thumb{
    background-color: #97938d;
}


@media (max-width: 768px) {
    .experience-box {
        padding: 15px;
        min-width: 220px;
        max-width: 220px;
        margin: 0 auto; /* Center the box */
    }

    .experience-box .user-details {
        flex-direction: column; /* Stack user details vertically */
        align-items: flex-start;
        gap: 10px; /* Add spacing between stacked elements */
    }

    .experience-box-social {
        gap: 0.5rem; /* Reduce gap between social icons for smaller screens */
    }

    .experience-box-social img {
        width: 25px;
        height: 25px; /* Reduce size of icons */
        padding: 6px;
    }

    .experience-box .description{
        max-height: 150px;
        overflow-y: scroll;
    }
}