.carousel-highlights {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carousel-highlights .carousel-highlights-content {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 410px;
}

.carousel-highlights .carousel-highlights-controls{
  z-index: 10;
}
.carousel-highlights .carousel-highlights-controls img{
  width: 150px;
  cursor: pointer;
}

.highlight-item {
  position: absolute;
  width: 80%;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform-origin: center;
}

.highlight-item.current {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 3;
}

.highlight-item.previous {
  opacity: 0.4;
  transform: scale(0.85) translateY(-150%);
  z-index: 2;
}

.highlight-item.next {
  opacity: 0.4;
  transform: scale(0.85) translateY(65%);
  z-index: 2;
}

.highlight-item.hidden {
  opacity: 0;
  transform: scale(0.6) translateY(200%);
  z-index: 1;
}

button {
  margin: 10px;
}
